@import "tailwindcss";

@theme {
  --font-primary: Poppins, sans-serif;
  --color-primary: #3ab7bf;
  --color-secundary: #F3F3F3;
  /* ... */
}
@layer base {
  html {
    font-family: var(--font-primary);
  }
  body {
    background-color: var(--color-secundary);
  }
}
